{% extends 'base.html' %}
{% block content %}
    <!-- Регистрация -->
    <section>
        <div class="wrapper">
            <div class="register">
                <div class="authorization-card">
                    <p class="authorization__title">Регистрация</p>
                    <div class="authorization__form">
                        <form method="post">
                            {% csrf_token %}
                            <label for="" class="authorization__form-label">Имя пользователя</label>
                            {{ form.username }}
                            <label for="" class="authorization__form-label">Email</label>
                            {{ form.email }}
                            <label for="" class="authorization__form-label">Пароль</label>
                            {{ form.password1 }}
                            <label for="" class="authorization__form-label">Повтор пароля</label>
                            {{ form.password2 }}
                            <button type="submit" class="authorization-btn">Регистрация</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}