<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <title>Ksedget LMS</title>
</head>
<body>
    <!-- Навигация -->
    <header>
        <div class="header">
            <div class="wrapper">
                <nav>
                    <div class="nav">
                        <div class="nav__logo">
                            <a href="{% url 'home' %}" class="nav__logo__link">
                                Ksedget LMS
                            </a>
                        </div>
                        <div class="nav__menu">
                            <ul class="nav__menu__links">
                                <li class="nav__menu__links__item">
                                    <a href="{% url 'home' %}" class="nav__menu__link">О школе</a>
                                </li>
                                <li class="nav__menu__links__item">
                                    <a href="{% url 'courses' %}" class="nav__menu__link">Курсы</a>
                                </li>
                                <li class="nav__menu__links__item">
                                    <a href="{% url 'articles' %}" class="nav__menu__link">Статьи</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__user">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="nav__user__profile">Выйти</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="nav__user__login-btn">Войти</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <!-- Футер -->
    <footer>
        <div class="footer">
            <div class="wrapper">
                <p class="watermark">
                    Made by<br><span><a href="https://github.com/kirephanov" target="_blank" class="watermark__link">Kirill Ephanov</a></span>
                </p>
                <div class="footer__content">
                    <p class="footer__content__description">
                        &#169 Ksedget LMS.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
</body>
</html>